*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

.main {
    color: #fff;
    display: flex;
    height: 100vh;
    min-height: 600px;
    background: url(../img/Logo.png) no-repeat center;
    background-size: cover;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
  }

.main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 0;
    background-image: -moz-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
    background-image: -webkit-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
    background-image: -ms-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);

}

.header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
    
    widows: 90%;
    position: relative;
    z-index: 2;
  
}
.menu {
width: 70%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu-link{
    
    color: #fff;
   text-decoration: none;

}

.get-started-btn {
    margin-left: 60px;
    border:  1px solid #fff;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: uppercase;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
}
.main-text * {
    border: 1px solid red;
}
.main-text  {
    border: 1px solid blue;
}
.main-text span{
    display: inline-block;
}
.main-text h1 {
    margin: 0.5rem;
    font-size: 88px;
}
.main-text span::after {
    content: '';
    width: 20px;
    height: 1px;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 10px;
}
.main-text span::before {
    content: '';
    width: 20px;
    height: 1px;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 10px;
}

.main-arrow{
    position: relative;
    z-index: 2;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.table{
background-color: #f9fafc;
height: 100% vh;
min-height: 600px;
}
.table-header{
    text-align: center;
}
.table-header span{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #9fa4af;
}

.table-header span::after {
    content: '';
    width: 20px;
    height: 1px;
    display: inline-block;
    background-color: #6e45e2;
    vertical-align: middle;
    margin-left: 10px;
}
.table-header span::before {
    content: '';
    width: 20px;
    height: 1px;
    display: inline-block;
    background-color: #6e45e2;
    vertical-align: middle;
    margin-right: 10px;
}
.table-header h2{
    color: #4f4f6f;
    font-size: 6rem;
    margin: 0;
}
.table-header p{
    font-size: 8rem; 
}